.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store

dataset/
temp_upload.jpg

# keep model files and requirements for deployment
# !*.keras
# !class_indices.json
# !requirements.txt
